<h1>Stations#index</h1>

<% @points.each do |element| %>
    <p>Station id: <%= element.id %></p>
    <p>Station lat: <%= element.lat %></p>
    <p>Station lon: <%= element.lon %></p>
    <p>Station type: <%= element.type %></p>
<% end %>